body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #ff69b4;
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
}

.blink {
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  display: block;
  max-width: 80%;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}
